<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>培养方案</title>
    <link rel="icon" href="../../../static/frame/static/image/code.png" th:href="@{/frame/static/image/code.png}">
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <script src="../../../static/js/jquery3.3.1.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="../../../static/js/popper.min.js" th:src="@{/webjars/popper.js/1.14.4/popper.min.js}"></script>
    <script src="../../../static/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script src="../../../static/js/teach.js" th:src="@{/js/teach.js}"></script>
</head>
<body>
<div class="container">
    <br>
    <span style="display: none;" id="subNo" th:text="${subject.subNo}"></span>
    <h2>
        <span th:text="${year} + '-' + ${year + 1}">2018-2019</span> 学年
        <span th:switch="${gradeNo}">
            <span th:case="'7'">七年级</span>
            <span th:case="'8'">八年级</span>
            <span th:case="'9'">九年级</span>
        </span>
        <span th:text="${subject.subName}">语文</span>学科任教信息
    </h2>
    <br>
    <table class="table table-hover text-center">
        <thead class="table-title">
        <tr>
            <th style="width: 25%;">编号</th>
            <th style="width: 20%;">班级</th>
            <th style="width: 20%;">教师</th>
            <th style="width: 15%;">培养方案编号</th>
            <th style="width: 20%;">课程名称</th>
        </tr>
        </thead>
        <tbody class="table-content">
        <tr th:each="teach: ${teaches}">
            <td th:text="${teach.teachNo}"></td>
            <td th:text="${teach.teacher.teacherName}"></td>
            <td th:text="${teach.tClass.className}"></td>
            <td th:text="${teach.program.id}"></td>
            <td th:text="${teach.program.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>