<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>培养方案</title>
    <link rel="icon" href="../../../static/frame/static/image/code.png" th:href="@{/frame/static/image/code.png}">
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <script src="../../../static/js/jquery3.3.1.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="../../../static/js/popper.min.js" th:src="@{/webjars/popper.js/1.14.4/popper.min.js}"></script>
    <script src="../../../static/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script src="../../../static/js/teach.js" th:src="@{/js/teach.js}"></script>
</head>
<body>
<div class="container">
    <br>
    <span style="display: none;" id="year" th:text="${year}"></span>
    <span style="display: none;" id="subNo" th:text="${subject.subNo}"></span>
    <h2>
        <span th:text="${year} + '-' + ${year + 1}">2018-2019</span> 学年
        <span th:switch="${gradeNo}">
            <span th:case="'7'">七年级</span>
            <span th:case="'8'">八年级</span>
            <span th:case="'9'">九年级</span>
        </span>
        <span th:text="${subject.subName}">语文</span>学科任教信息制定
    </h2>
    <br>
    <form method="post" th:action="@{/teacher/academic/program/make}">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="tClass.classNo">班级</label>
            <select class="custom-select col-sm-2" name="tClass.classNo" id="tClass.classNo">
                <option value="">请选择班级</option>
                <option th:each="class: ${classes}" th:value="${class.classNo}" th:text="${class.className}"></option>
            </select>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="teacher.teacherNo">教师</label>
            <select class="custom-select col-sm-2" name="teacher.teacherNo" id="teacher.teacherNo">
                <option value="">请选择教师</option>
                <option th:each="teacher: ${teachers}" th:value="${teacher.teacherNo}"
                        th:text="${teacher.teacherName}"></option>
            </select>
        </div>
        <br>
        <div class="form-group row">
            <span class="col-sm-1"></span>
            <button class="btn btn-outline-primary" type="button" onclick="insert();" style="margin-right: 35px;">添加
            </button>
            <button class="btn btn-outline-danger" type="reset">重置</button>
        </div>
    </form>
    <br>
    <hr>
    <h2>任教信息</h2>
    <br>
    <table class="table table-hover text-center">
        <thead class="table-title">
        <tr>
            <th style="width: 20%;">编号</th>
            <th style="width: 15%;">班级</th>
            <th style="width: 20%;">教师</th>
            <th style="width: 15%;">培养方案</th>
            <th style="width: 20%;">课程名称</th>
            <th style="width: 10%;">操作</th>
        </tr>
        </thead>
        <tbody class="table-content">
        <tr th:each="teach: ${teaches}" th:id="${teach.id}">
            <td th:text="${teach.teachNo}"></td>
            <td th:text="${teach.tClass.className}"></td>
            <td>
                <span th:text="${teach.teacher.teacherName}"></span>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-sm btn-outline-primary" th:attr="teachId=${teach.id}"
                        onclick="myAlert('', 'update', this.getAttribute('teachId'));">更换
                </button>
            </td>
            <td th:text="${teach.program.id}"></td>
            <td th:text="${teach.program.name}"></td>
            <td>
                <button class="btn btn-sm btn-outline-danger" th:attr="teachId=${teach.id}"
                        onclick="myAlert('您确定要删除该条数据吗？', 'remove', this.getAttribute('teachId'));">删除
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">提示信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>