<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../../static/js/jquery3.3.1.min.js"></script>
    <title>Title</title>
</head>
<body>
<script>
    $(function () {
        $("#b01").bind('click', (function () {
            $.ajax({
                url: 'data.json',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    // $("#myDiv").html(data);
                }
            });
        }));
    });
</script>
<div id="myDiv"><h2>Let AJAX change this text</h2></div>
<button id="b01" type="button">Change Content</button>
</body>
</html>