<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/frame/layui/css/layui.css">
    <!--<link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">-->
    <link rel="stylesheet" href="../../static/frame/static/css/style.css">
    <link rel="icon" href="../../static/frame/static/image/code.png">
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>已发布的培养方案</legend>
    </fieldset>

    <div class="layui-form-item">
        <label class="layui-form-label">入学年份</label>
        <div class="layui-input-block">
            <select name="interest" lay-filter="aihao">
                <option value="0" selected="">2015</option>
                <option value="0" >2016</option>
                <option value="1" >2017</option>
                <option value="2" >2018</option>
            </select>
        </div>
    </div>
    <br/>

    <table class="layui-table" lay-even="" lay-skin="row">
        <colgroup>
            <col width="250">
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="200">
        </colgroup>
        <thead>
        <tr>
            <th>ID</th>
            <th>学年</th>
            <th>课程名称</th>
            <th>课时</th>
            <th>是否考试</th>
            <th>年级</th>
            <th>科目</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>贤心</td>
            <td>汉族</td>
            <td>1989-10-14</td>
            <td>人生似修行</td>
            <td>张爱玲</td>
            <td>汉族</td>
            <td>1920-09-30</td>
        </tr>
        <tr>
            <td>张爱玲</td>
            <td>汉族</td>
            <td>1920-09-30</td>
            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
            <td>张爱玲</td>
            <td>汉族</td>
            <td>1920-09-30</td>
        </tr>
        <tr>
            <td>Helen Keller</td>
            <td>拉丁美裔</td>
            <td>1880-06-27</td>
            <td> Life is either a daring adventure or nothing.</td>
            <td>张爱玲</td>
            <td>汉族</td>
            <td>1920-09-30</td>
        </tr>
        <tr>
            <td>孟子</td>
            <td>华夏族（汉族）</td>
            <td>公元前-372年</td>
            <td>猿强，则国强。国强，则猿更强！</td>
            <td>张爱玲</td>
            <td>汉族</td>
            <td>1920-09-30</td>
        </tr>
        </tbody>
    </table>
</body>
</html>