<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>教务系统·排课系统</title>
    <link rel="stylesheet" href="../static/frame/layui/css/layui.css" th:href="@{/frame/layui/css/layui.css}">
    <link rel="stylesheet" href="../static/frame/static/css/style.css" th:href="@{/frame/static/css/style.css}">
    <link rel="icon" href="../static/frame/static/image/code.png" th:href="@{/frame/static/image/code.png}">
</head>
<body>

<!-- layout admin -->
<div class="layui-layout layui-layout-admin"> <!-- 添加skin-1类可手动修改主题为纯白，添加skin-2类可手动修改主题为蓝白 -->
    <!-- header -->
    <div class="layui-header my-header">
        <a href="temp.html">
            <div class="my-header-logo">教务系统·排课系统</div>
        </a>
        <div class="my-header-btn">
            <button class="layui-btn layui-btn-small btn-nav"><i class="layui-icon">&#xe65f;</i></button>
        </div>
        <!-- 顶部右侧添加选项卡监听 -->
        <ul class="layui-nav my-header-user-nav" lay-filter="side-top-right">
            <li class="layui-nav-item">
                <a class="name" href="javascript:;"><i class="layui-icon">&#xe629;</i>主题</a>
                <dl class="layui-nav-child">
                    <dd data-skin="0"><a href="javascript:;">默认</a></dd>
                    <dd data-skin="1"><a href="javascript:;">纯白</a></dd>
                    <dd data-skin="2"><a href="javascript:;">蓝白</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="name" href="javascript:;">
                    <span sec:authorize="hasRole('STUDENT')">学生·</span>
                    <span sec:authorize="hasRole('TEACHER')">
                        <span sec:authorize="hasRole('ADVISER')">班主任·</span>
                        <span sec:authorize="hasRole('SUBLEADER')">学科组长·</span>
                        <span sec:authorize="hasRole('GRADELEADER')">年级组长·</span>
                        <span sec:authorize="hasRole('ACADEMIC')">教务员·</span>
                        <span sec:authorize="hasRole('REGISTRAR')">教务主任·</span>
                        <span sec:authorize="hasRole('PRINCIPAL')">校长·</span>
                    </span>
                    <span sec:authorize="!hasAnyRole('ADVISER', 'SUBLEADER', 'GRADELEADER', 'ACADEMIC', 'REGISTRAR', 'PRINCIPAL') && hasRole('ADVISER')">教师·</span>
                    <span th:text="${#session.getAttribute('username')}">小明</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" onclick="logoutForm.submit()"><i class="layui-icon">&#x1006;</i>退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <form id="logoutForm" method="post" action="/logout" th:action="@{/logout}"></form>

    </div>
    <!-- side -->
    <div class="layui-side my-side">
        <div class="layui-side-scroll">
            <div class="layui-side-profile">
                <img src="../static/img/profile.jpg" th:src="@{/img/profile.jpg}"
                     style="height:150px; width:150px;border-radius:80px;margin:15px 0; "/>
            </div>
            <!-- 左侧主菜单添加选项卡监听 -->
            <ul class="layui-nav layui-nav-tree" lay-filter="side-main">
                <li sec:authorize="isAuthenticated()" class="layui-nav-item  layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon">&#xe620;</i>基本信息</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" href-url="sub-view/basic_information.html"
                               th:attr="href-url=@{'/' + ${#session.getAttribute('type')} + '/info'}"><i
                                    class="layui-icon">&#xe621;</i>查看基本信息</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item  layui-nav-itemed" sec:authorize="hasAnyRole('STUDENT', 'ADVISER', 'GRADELEADER', 'ACADEMIC', 'REGISTRAR')">
                    <a href="javascript:;"><i class="layui-icon">&#xe620;</i>培养方案</a>
                    <dl class="layui-nav-child">
                        <dd sec:authorize="hasRole('STUDENT')">
                            <a href="javascript:;" href-url="sub-view/program/list.html"
                               th:attr="href-url=@{/student/program/list}">
                                <i class="layui-icon">&#xe621;</i>我的
                            </a>
                        </dd>
                        <dd sec:authorize="hasRole('ADVISER')">
                            <a href="javascript:;" href-url="sub-view/program/list.html"
                               th:attr="href-url=@{/teacher/adviser/program/list}">
                                <i class="layui-icon">&#xe621;</i>所在班级
                            </a>
                        </dd>
                        <dd sec:authorize="hasRole('GRADELEADER')">
                            <a href="javascript:;" href-url="sub-view/program/list.html"
                               th:attr="href-url=@{/teacher/gradeLeader/program/list}">
                                <i class="layui-icon">&#xe621;</i>所在年级
                            </a>
                        </dd>
                        <dd sec:authorize="hasRole('ACADEMIC')">
                            <a href="javascript:;" href-url="sub-view/program/list.html"
                               th:attr="href-url=@{/teacher/academic/program/listByGrade}">
                                <i class="layui-icon">&#xe621;</i>查看历届</a>
                        </dd>
                        <dd sec:authorize="hasRole('ACADEMIC')">
                            <a href="javascript:;" href-url="sub-view/program/make.html"
                               th:attr="href-url=@{/teacher/academic/program/make}">
                                <i class="layui-icon">&#xe621;</i>制定
                            </a>
                        </dd>
                        <dd sec:authorize="hasRole('ACADEMIC')">
                            <a href="javascript:;" href-url="sub-view/program/list_by_status_and_grade.html"
                               th:attr="href-url=@{/teacher/academic/program/list/0}">
                                <i class="layui-icon">&#xe621;</i>未发布
                            </a>
                        </dd>
                        <dd sec:authorize="hasRole('ACADEMIC')">
                            <a href="javascript:;" href-url="sub-view/program/list_by_status_and_grade.html"
                               th:attr="href-url=@{/teacher/academic/program/list/2}">
                                <i class="layui-icon">&#xe621;</i>待审核
                            </a>
                        </dd>
                        <dd sec:authorize="hasAnyRole('REGISTRAR', 'ACADEMIC')">
                            <a href="javascript:;" href-url="sub-view/program/list_by_status_and_grade.html"
                               th:attr="href-url=@{/teacher/academic/program/list/1}">
                                <i class="layui-icon">&#xe621;</i>已发布
                            </a>
                        </dd>
                        <dd sec:authorize="hasRole('REGISTRAR')">
                            <a href="javascript:;" href-url="sub-view/program/list_by_status_and_grade.html"
                               th:attr="href-url=@{/teacher/registrar/program/check}">
                                <i class="layui-icon">&#xe621;</i>待审核
                            </a>
                        </dd>
                        <dd sec:authorize="hasAnyRole('REGISTRAR', 'ACADEMIC')">
                            <a href="javascript:;" href-url="sub-view/program/list_by_status_and_grade.html"
                               th:attr="href-url=@{/teacher/academic/program/list/3}">
                                <i class="layui-icon">&#xe621;</i>未通过
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item  layui-nav-itemed" sec:authorize="hasRole('SUBLEADER')">
                    <a href="javascript:;"><i class="layui-icon">&#xe620;</i>任教信息</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" href-url="sub-view/teach/make.html"
                               th:attr="href-url=@{/teacher/subLeader/teach/make/2018}">
                                <i class="layui-icon">&#xe621;</i>分配教师
                            </a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/teach/list.html"
                               th:attr="href-url=@{/teacher/subLeader/teach/list}">
                            <i class="layui-icon">&#xe621;</i>查看</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item  layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon">&#xe620;</i>课程表</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="sub-view/check_tertable.html"><i class="layui-icon">&#xe621;</i>查看教师课表</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>查看班级课表</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>我的（学生）</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>我的（教师）</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>当前班级（班主任）</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>当前年级（年级组长）</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>查看（领导）</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>排课（教务员）</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>修改（教务员）</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>审核（教务主任）</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>未发布（教务员）</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>已发布（教务员、教务主任）</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>待审核（教务员、教务主任）</a>
                        </dd>
                        <dd><a href="javascript:;" href-url="sub-view/check_classtable.html"><i class="layui-icon">&#xe621;</i>未通过（教务员、教务主任）</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!-- body -->
    <div class="layui-body my-body">
        <div class="layui-tab layui-tab-card my-tab" lay-filter="card" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="1"><span><i class="layui-icon">&#xe638;</i>欢迎页</span></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe id="iframe" th:src="@{/welcome}" src="sub-view/welcome.html" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="layui-footer my-footer">
    </div>
</div>

<!-- 右键菜单 -->
<div class="my-dblclick-box none">
    <table class="layui-tab dblclick-tab">
        <tr class="card-refresh">
            <td><i class="layui-icon">&#x1002;</i>刷新当前标签</td>
        </tr>
        <tr class="card-close">
            <td><i class="layui-icon">&#x1006;</i>关闭当前标签</td>
        </tr>
        <tr class="card-close-all">
            <td><i class="layui-icon">&#x1006;</i>关闭所有标签</td>
        </tr>
    </table>
</div>

<script src="../static/frame/layui/layui.js" th:src="@{/frame/layui/layui.js}"></script>
<script src="../static/frame/static/js/vip_comm.js" th:src="@{/frame/static/js/vip_comm.js}"></script>
<script type="text/javascript">
    layui.use(['layer', 'vip_nav'], function () {
        // 操作对象
        var layer = layui.layer
            , vipNav = layui.vip_nav
            , $ = layui.jquery;
    });
</script>
</body>
