<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="../static/frame/layui/css/layui.css" th:href="@{/frame/layui/css/layui.css}">
    <link rel="stylesheet" href="../static/frame/static/css/style.css" th:href="@{/frame/static/css/style.css}">
    <link rel="icon" href="../static/frame/static/image/code.png" th:href="@{/frame/static/image/code.png}">
</head>
<body class="login-body body">

<div class="login-box">
    <form class="layui-form layui-form-pane" method="post" th:action="@{/login}">
        <div class="layui-form-item">
            <h3 style="margin-left: -80px;">教务·排课系统登录</h3>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号：</label>

            <div class="layui-input-inline" style="margin-top: 0;">
                <input type="text" name="username" class="layui-input" lay-verify="username" placeholder="账号"
                       autocomplete="on" maxlength="20"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>

            <div class="layui-input-inline" style="margin-top: 0;">
                <input type="password" name="password" class="layui-input" lay-verify="password" placeholder="密码"
                       maxlength="20"/>
            </div>
        </div>
        <div class="layui-form-item">
            <button type="reset" class="layui-btn layui-btn-danger btn-reset">重置</button>
            <button type="submit" class="layui-btn btn-submit">立即登录</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="../static/frame/layui/layui.js" th:src="@{/frame/layui/layui.js}"></script>
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {

        // 操作对象
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        // 验证
        form.verify({
            username: function (value) {
                if (value === "") {
                    return "请输入用户名";
                }
            },
            password: function (value) {
                if (value === "") {
                    return "请输入密码";
                }
            },
            code: function (value) {
                if (value === "") {
                    return "请输入验证码";
                }
            }
        });

        // you security ...
    })
</script>
</body>
</html>